logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.local.conf
projectFilesBackup
/spark-warehouse
docker/*.jar
k8s/*.jar